/* --------------- reset.css --------------- */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;
	/* приводим все к одной базовой линии */
	background: transparent;
	/* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;
	/* размер шрифта всем одинаковый */
}

a {
	/* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
}

table {
	/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse;
	border-spacing: 0;
}

td,
td img {
	vertical-align: top;
	/* возвращаем привычное вертикальное выравнивание */
}

input,
select,
button,
textarea {
	margin: 0;
	/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%;
	/* делаем размер шрифтов везде одинаковым */
	outline: none;
}

input[type="text"],
input[type="password"],
textarea {
	padding: 0;
	/* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] {
	/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

html {
	min-height: 100%;
	/* всегда показываем вертикальную полосу прокрутки  */
}

body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em;
	/* используем безопасные шрифтовые CSS стеки */
	min-height: 100%;
	font-family: 'Roboto', sans-serif;
	/*font-family: 'Roboto Condensed', sans-serif;;*/
}

a,
a:visited {
	/* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}

a:hover {
	color: #fdf208;
	text-decoration: none;
}

a:focus,
a:active {
	color: #c83867;
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

img {
	max-width: 100%;
}

.clr {
	clear: both;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

/* --------------- /базовые настройки ---------*/

.center-block-main {
	max-width: 1170px;
	margin: 0 auto;
}

.header-top {
	margin: 30px 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
}

.logo {
	font-family: 'Roboto Condensed', sans-serif;
	color: #67686d;
	font-size: 1.375em;
	text-transform: uppercase;
	float: left;
}

.contact-basket p {
	float: left;
}

.contact-basket {
	float: right;
}

.contact-basket img {
	margin-right: 5px;
	vertical-align: middle;
}

.header-phone {
	padding: 10px;
	margin-right: 20px;
}

.header-basket {
	border: 1px solid #eeeeee;
	padding: 7px 25px;
}

.header-bottom {
	padding: 20px 0;
	text-transform: uppercase;
	font-size: 0.875em;
}

.menu {
	float: left;
}

.menu li {
	float: left;
	padding: 0 20px;
}

.menu li a {
	color: #7e7f84;
	text-decoration: none;
}

.menu li a:hover {
	color: #f79183;
}

.search-block input {
	border: none;
}

.search-btn {
	vertical-align: middle;
}

.my-slider {
	margin-bottom: 30px;
}

.my-slider li {
	position: relative;
	color: #f45a40;
}

.my-slider li h2 {
	position: absolute;
	top: 200px;
	font-family: 'Roboto', sans-serif;
	left: 30px;
	font-size: 3.6875em;
}

.my-slider li p {
	position: absolute;
	top: 350px;
	left: 30px;
	font-size: 0.875em;
}

*********************BLOCK3********************* .block3-main {
	float: left;
}

.block3-main article {
	float: left;
	width: 31.6%;
	margin-left: 2.5%;
}

.block3-main article:first-child {
	margin-left: 0;
}

.block3-main article img {
	display: inline-block;
	margin: 0 auto 20px auto;
}

.block3-main article h2 {
	color: #f45a40;
	font-size: 1.41em;
	margin-bottom: 20px;
	font-family: 'Roboto Condensed', sans-serif;
}

.block3-main article p {
	color: #7e7f84;
	font-size: 0.875em;
	margin-bottom: 20px;
}

************************* BLOCK4**************************** 

.block4-section h2 {
	/* padding: 40px 0; */
	margin: 40px 0;
	text-align: center;
}
.block4-main{
	float: left;
}
.block4-main article {
	float: left;
	width: 21.9%;
	margin-left: 2.45%;
	/* border: 1px solid #eeeeee; */
}

.block4-main article:first-child {
	margin-left: 0;
}

.block4-main-content img a {
	display: block;
	margin-bottom: 10px;
}

.block4-main-content {
	padding: 20px;
}

.block4-main-content h2 a {
	color: #67686d;
	font-size: 1.125em;
	text-decoration: none;
	text-align: left;
}

.block4-main-content h3 {
	color: #67686d;
	font-size: 0.875em;
	font-style: italic;
	padding: 10px 0;
}

.block4-main-content p {
	color: #67686d;
	font-size: 0.625em;
	margin-bottom: 20px;
	padding: 0 0 20px 0;
}

.block4-main-content .price-basket {
	margin: 20px;
	color: #f45a40;
	border-top: 1px solid #ccc;
	padding-top: 20px;
	position: relative;
}

.block4-main-content .price {
	color: #f45a40;
	font-size: 0.875em;
	display: inline-block;
}

.block4-main-content .basket-btn {
	float: right;
	display: inline-block;
}

******************ABOUT************************ .block-about {
	margin: 50px 0;
}

.block-about h2 {
	font-size: 1.415em;
	color: #67686d;
	margin: 30px 0;
}

.about {
	float: left;
	width: 68%;
	color: #7e7f84;
	font-size: 0.875em;
}

.about p {
	padding: 10px 0;
	font-style: italic;
}

.map {
	float: right;
}

.subscribe {
	background-color: #f45a40;
	position: relative;
	margin: 50px 0 0 0;
}

.subscribe p {
	color: #fff;
	font-size: 1.41em;
	padding: 40px 0;
}

.subscribe .sub-form {
	float: right;
	position: absolute;
	top: 40px;
	right: 90px;
}

.subscribe .sub-form .input-text {
	color: #7e7f84;
	font-size: 0.875;
	padding: 10px;
}

.subscribe .sub-btn {
	margin-left: 10px;
	padding: 10px;
	background-color: #ff674f;
	color: #fff;
	border: 0;
}

footer {
	background-color: #2a2d34;
	padding: 40px 0;
}

.block4-main article {
	float: left;
	width: 22%;
	margin-left: 2.45%;
}

footer .block4-main article:first-child {
	margin-left: 0;
}

footer .block4-main article h2 {
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.41em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

footer .block4-main article h3 a {
	color: #fff;
	text-decoration: none;
	margin: 5px 0;
}

footer .block4-main article h3 a:hover {
	text-decoration: underline;
}

footer .block4-main article p a {
	color: #7e7f84;
	font-family: 'Roboto', sans-serif;
	font-size: 0.875em;
	padding: 20px 10px 0 0;
	text-decoration: none;
}

footer .block4-main article .support {
	float: left;
	margin-right: 3px;
	width: 47%;
}

footer .block4-main article .support a {
	display: block;
}

footer .block4-main article .support a:hover {
	text-decoration: underline;
}

.contactus {
	width: 100%;
}

footer .block4 article .form-contact {
	width: 100%;
}

footer .block4 article .ftr-mail {
	width: 100%;
	box-sizing: border-box;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #7e7f84;
	font-family: 'Roboto', sans-serif;
	font-size: 0.75em;
	padding: 7px 25px;
}

footer .block4 article .text {
	width: 100%;
	box-sizing: border-box;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	color: #7e7f84;
	font-size: 0.75em;
	padding: 7px 25px;
}

footer .block4 article .sub-btn {
	background-color: #f45a40;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.875em;
	padding: 7px 20px;
	border: 0;
}

@media screen and (max-width:900px){
	.my-slider ul li h2 {	
		top: 120px;
		font-size: 3em;
	}
	
	.my-slider ul li p {		
		top: 250px;	
	}

	.block4-main article {
	float: left;
	width: 45%;
	margin-left: 2.45%;
	border: 1px solid #eeeeee;
}
.block4-main article img{
	margin: 0 auto;
	display: block;
}

.block4-main article:first-child {
	width: 45%;
	margin-left: 2.45%;
}
	
}